<nav class="headings__container">
    <ul class="headings__list">
        <li class="headings__title">Long Nguyen</li>
        <li class="headings__menu">
            <button></button>
        </li>
    </ul>
</nav>