<header class="headings__container">
    <ul class="headings__list">
        <li class="headings__title">Long Nguyen</li>
        <li class="headings__menu">
            <button class="hamburger">
                <div id="hamburger__decoration" class="hamburger__decoration"></div>
            </button>
        </li>
    </ul>
</header>