<nav class="headings__container" data-scroll-section>
    <ul class="headings__list">
        <li class="headings__title">Long Nguyen</li>
        <li>
            <button class="headings__menu"></button>
        </li>
    </ul>
</nav>