<nav class="navigation" id="navigation">
    <section class="navigation__content">
        <ul class="navigation__links-list">
            <li class="navigation__link">About</li>
            <li class="navigation__link"><a href="{{ "/blog/" | url }}">Blog</a></li>
            <li class="navigation__link">Gallery</li>
            <li class="navigation__link">Contact</li>
        </ul>
    </section>
</nav>