<nav class="mNavigation" id="mNavigation">
    <section class="mNavigation__content">
        <ul class="mNavigation__links-list">
            <li class="mNavigation__link">About</li>
            <li class="mNavigation__link"><a href="{{ "/blog/" | url }}">Blog</a></li>
            <li class="mNavigation__link">Gallery</li>
            <li class="mNavigation__link">Contact</li>
        </ul>
    </section>
</nav>

<nav class="dNavigation" id="dNavigation">
    <section class="dNavigation__content">
        <ul class="dNavigation__links-list">
            <li class="dNavigation__link">About</li>
            <li class="dNavigation__link"><a href="{{ "/blog/" | url }}">Blog</a></li>
            <li class="dNavigation__link">Gallery</li>
            <li class="dNavigation__link">Contact</li>
        </ul>
    </section>
</nav>