---
layout: layouts/base.njk
dataNamespace: data-barba-namespace=home
---

<section class="cover cover__section">
  <h1>Blog</h1>
  <a href="/">back to home →</a>
</section>

<section class="blogs blogs__section">
    <h2>My Life in San Francisco</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, molestiae. Voluptatibus voluptatem adipisci odio explicabo at molestiae. Eos, qui. Soluta?</p>
    <h2>Technical Interviews are Trash</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil nobis nemo quis ducimus praesentium delectus consequatur quibusdam. Quas, inventore harum!</p>
    <h2>UTA: Life or Cheese?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et facilis corporis hic voluptatem minima! Sunt blanditiis aliquid laboriosam adipisci ex.</p>
    <h2>Linear Algebra is Awesome</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, voluptatem adipisci consequuntur odit nostrum repellendus excepturi eveniet dolores asperiores vero.</p>
    <h2>Computer Graphics Ain't Magic</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil possimus nobis et vitae delectus deserunt repudiandae odio, itaque hic est!</p>
</section>
