---
layout: layouts/base.njk
dataNamespace: data-barba-namespace=blog
---

<section class="blogs blogs__section">
    <article>
    <h1>Blog</h1>

    {%- for post in collections.blog -%}
    <h2>{{post.data.title}}</h2>
    {%- endfor -%}
  </article>
</section>
