---
layout: layouts/base.njk
dataNamespace: data-barba-namespace=home
---

<section class="cover__section">
    <ul class="cover__phrases list--reset">
        <li class="cover__phrase cover__phrase--yellow">Energetic</li>
        <li class="cover__phrase cover__phrase--red">Passionate</li>
        <li class="cover__phrase cover__phrase--blue">Actionable</li>
    </ul>
    <div class="cover__plane plane"><img data-component="trackable" data-type="image" data-label="Long Cutout" src="{{ "images/Long Cutout.png" | url }}" alt=""></div>
</section>

<section class="about__section">
    <article class="about__intro">
        <h1>INTRO</h1>
        <div class="intro__details">
            <div class="intro__text">
                <p>Yo! I’m Long Nguyen, a sophomore computer science major at the University of Texas, Arlington. For development, I’m a UX engineer with a creative development side hustle.  When I don’t code, I love cooking, eating, exercising, drawing, and gaming.</p>
                <p>My practice include independent CMS integrations, creative website experiences, React-based web apps, and app development. My current goal is building creative full stack experiences.</p>
            </div>
            <div class="about__plane plane"><img data-component="trackable" data-type="image" data-label="edgy picture" src="{{ "images/edgy picture.jpg" | url }}" alt=""></div>
            <div class="intro__contact">
                <h2>WORK WITH ME</h2>
                <p>
                    While my official work is with Zeal IT Conslutants, I am available for a project on the side. Feel free to reach out!. I hope we make something cool!
                </p>

                <div>
                    <ul class="list--reset">
                        <li><a href="mailto:18nguyenl@gmail.com">18nguyenl@gmail.com</a></li>
                        <li><a href="{{ "documents/Long Nguyen Resume CS.pdf" | url }}">resume</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </article>

    <article class="about__contact">
        
    </article>
</section>

<section class="portfolio__section">
    <article>
        <h1>SELECTED WORKS</h1>

        {%- for work in collections.work -%}
        <div class="work">
            <h2 class="work__title">{{work.data.title}}</h2>
        </div>
        {%- endfor -%}
    </article>
</section>

{# TODO: make this footer non-semantic #}
<div class="foot__tContainer">
    <div class="footer__text">Long<br/>Nguyen</div>
</div>
