---
layout: layouts/base.njk
dataRouterView: data-router-view=home
---

<section class="cover cover__section" data-scroll-section>
    <ul class="cover__phrases list--reset">
        <li class="cover__phrase cover__phrase--yellow">Energetic</li>
        <li class="cover__phrase cover__phrase--red">Passionate</li>
        <li class="cover__phrase cover__phrase--blue">Actionable</li>
    </ul>
    <div class="cover__plane plane"><img src="{{ "images/Long Cutout.png" | url }}" alt=""></div>
</section>

<section class="about__section" data-scroll-section>
    <article class="about__intro">
        <h1>INTRO</h1>
        <p>Hi! I’m Long Nguyen, a sophomore front-end developer at the University of Texas, Arlington. I specialize in website, UI/UX design, and graphics development. As a student, I am excited to learn to make some killer apps!</p>
        <p>My skillset for web development include making static sites, implementing CMS’s, and using front-end frameworks like React. For my creative development abilities, I know GLSL, webGL, and openGL for creative graphics programming. I primarily use Figma for my UX Design.</p>
    </article>

    <div class="about__plane plane"><img src="{{ "images/edgy picture.jpg" | url }}" alt=""></div>

    <article class="about__contact">
        <h2>WORK WITH ME</h2>
        <p>
            While my official work is with Zeal IT Conslutants, I am available for a project on the side. Feel free to reach out!. I hope we make something cool!
        </p>

        <div>
            <ul class="list--reset">
                <li><a href="mailto:18nguyenl@gmail.com">18nguyenl@gmail.com</a></li>
                <li><a href="{{ "documents/Long Nguyen CS.pdf" | url }}">resume</a></li>
            </ul>
        </div>
    </article>
</section>


<section class="portfolio__section">
    <article>
        <h1>SELECTED WORKS</h1>
    </article>
</section>