 /* Settings */
@import url("https://use.typekit.net/ifh6dsc.css");

/* General Styles */
* {
  margin: 0;
  box-sizing: border-box;

  font-family: 'Termina', sans-serif;
  line-height: 1.5;
}

html {
  font-size: 18px;
}

/* Text Element Styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  text-transform: uppercase;
  font-style: normal;

  margin-bottom: 1.5rem;
}

h1 {
  font-size: 3.375rem;
}

h2 {
  font-size: 1rem;

  margin-bottom: 1.11111rem;
}

h3 {
  font-size: 1.51rem;
}

p {
  font-weight: 500;
  line-height: 1.7;
  font-size: 12px;

  margin-bottom: 1.11111rem
}

a {
  line-height: 1.5;
}

/* Button Styling */
button {
  background: none;
  appearance: none;
  box-shadow: none;
  border: none;
  outline: none;

  font-size: 18px;
}

/* Container styling */
section {
  padding: 1.5rem;
}

footer {
  padding: 0 1.5rem 1.5rem 1.5rem;

  font-size: 12px;
}

@media only screen and (min-width: 425px) {
  h1 {
    font-size: 3.375rem;
  }
  
  h2 {
    font-size: 2.25rem;
  }

  p {
    font-size: 18px;
  }
}