 /* Settings */
@import url("https://use.typekit.net/ifh6dsc.css");

/* General Styles */
* {
  margin: 0;
  box-sizing: border-box;

  font-family: 'Termina', sans-serif;
  line-height: 1.5;
}

html {
  font-size: 18px;
}

/* Text Element Styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

h2 {
  margin-bottom: 1.11111rem;
}

p {
  font-weight: 400;

  margin-bottom: 1.11111rem
}

/* Button Styling */
button {
  background: none;
  appearance: none;
  box-shadow: none;
  border: none;
  outline: none;

  font-size: 18px;
}

/* Container styling */
section {
  padding: 1.5rem;
}

@media only screen and (min-width: 425px) {
  p {
    font-size: 18px;
  }
}